name: Website

on:
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  publish-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
      - name: Install dependencies
        run: yarn install --immutable --network-timeout 500000
      - name: Build pages
        env:
          CI: true
        run: yarn build && yarn docs:build
      - name: Publish pages
        env:
          CI: true
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: yarn docs:publish
      - name: Publish api on Directus
        env:
          DIRECTUS_TOKEN: ${{ secrets.DIRECTUS_TOKEN }}
          DIRECTUS_FLOW_ID: ${{ secrets.DIRECTUS_FLOW_ID }}
        run: |
          curl -sS -L -X POST "https://api.tsed.dev/flows/trigger/${DIRECTUS_FLOW_ID}" \
            -H "Authorization: Bearer ${DIRECTUS_TOKEN}" \
            -H "Content-Type: application/json" \
            --data-binary @docs/public/api.json
